
.loading_area{
    background: #ffffff;
    position: fixed;
    left: 0;
    top: 0;
    right: 0;
    bottom: 0;
    z-index: 1000;
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: center;
  }
  
.load_container {
  display:flex;
  height: 50%;
  width: 50%;
  position: absolute;
  align-items: center;
  justify-content: center;
  margin: auto ;
  text-align: center;
  transform: scale(0.75);

}

  .loader1, .loader2{
    position: absolute;
    width: 100px;
    height: 100px;
    border-radius: 50%;
    border: 11px double;
    border-left-color: #000;
    border-top-color: #000;
    border-right-color: #000;
    border-bottom-color: #000;
    animation: loadAnim 4s  alternate infinite;
  }
  
  .loader2{
    animation: loadAnim2 4s;
    animation-iteration-count: infinite;
  }
  
  
  @keyframes loadAnim{
    0%{transform: rotate3d(1,1,1,0deg);}
    100%{transform: rotate3d(1,1,1,360deg);}
  }
  @keyframes loadAnim2{
    0%{transform: rotate3d(1,1,1,0deg);}
    100%{transform: rotate3d(1,1,1,-360deg);}
  }


/* -----------------------------------------------------*/

* {
    border: 2px solid red;
    font-family: "Roboto", sans-serif;
    font-weight: bold;
}

*:link, *:visited, *:hover, *:active { 
    text-decoration: none;
    color: black;
}

/* <----------> */

.top_bar{
    display: flex;
    flex-direction: row;
    width: 100%;
    height: 70px;
    align-items: center;
    font-family: 'Roboto Condensed', sans-serif;
    justify-content: space-evenly;
    border-bottom: #000;
}

.location_choices, .account_choices {
    padding: 10px;
}

.goxip_logo {
    font-size: 50px;
    font-weight: bolder;
    text-decoration: underline;
    top: 20px;
    padding: 5px;
    margin: auto;
  }

/* <----------> */

.second_bar {
    display: flex;
    flex-direction: row;
    width: 100%;
    align-items: center;
    justify-content: space-around;
}

.categories {
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    width: 60%;
}

.search_container {
    padding: 5px;
    display: flex;
    flex-direction: row;
}